<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Sample Site</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    body {
      padding-top: 50px;
    }
  </style>
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <div id="app" class="container">
    <div class="form-group">
      <label for="usr">Wallet Address:</label>
      <input type="text" class="form-control" v-model="walletAddr" id="usr">
    </div>
    <div class="form-group">
      <label for="pwd">Private Key:</label>
      <input type="password" class="form-control" v-model="privateKey" id="pwd">
    </div>
    <div class="form-group">
      <label for="pwd">BNB Amount:</label>
      <input type="number" Placeholder="0.0" v-model="inAmount" class="short-input">
      <label for="pwd">Slippage(%):</label>
      <input type="number" Placeholder="0.0" v-model="slippage" class="short-input">
      <label for="pwd">Gas Price:</label>
      <input type="number" Placeholder="0.0" v-model="gasPrice" class="short-input">
      <label for="pwd">Gas Limit:</label>
      <input type="number" Placeholder="0.0" v-model="gasLimit" class="short-input">
      <button class="btn btn-primary" @click="setBotStatus()">{{botStatus}}</button>
    </div>
    <div class="token-list">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Token A</th>
            <th>Token B</th>
            <th>PairAddress</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in fullData">
            <td>{{item.tokenA}}</td>
            <td>{{item.tokenB}}</td>
            <td>{{item.pair}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        wss: null,
        botStatus: 'Start Bot',
        walletAddr: '0x94222B53391042445A6B50CE99C1C46E5872880e',
        privateKey: 'ccf5c3237ad2183f693a2634c524d5aed81dba2835fa17df879ebe2c66cd0af7',
        inAmount: 0.0002,
        slippage: 3,
        gasPrice: 9,
        gasLimit: 345684,
        fullData: [],
        tokenA: '',
        tokenB: '',
        pair: ''
      },
      methods: {
        setBotStatus() {
          if (this.wss !== null) {
            var obj = {}
            if (this.botStatus === "Start Bot") {
              obj = { botStatus: true, walletAddr: this.walletAddr, privateKey: this.privateKey, inAmount: this.inAmount.toString(), slippage: this.slippage.toString(), gasPrice: this.gasPrice.toString(), gasLimit: this.gasLimit.toString() };
              this.botStatus = "Stop Bot"
            } else {
              obj = { botStatus: false };
              this.botStatus = "Start Bot"
            }
            var str = JSON.stringify(obj);
            console.log(str)
            this.wss.send(str);
          }
        }
      },
      mounted() {
        if ("WebSocket" in window) {
          var wss = new WebSocket("wss://" + window.location.hostname + ":" + window.location.port + "/connect/");
          this.wss = wss;
          wss.onopen = () => {
            this.botStatus = "Stop Bot"
            wss.send("connectRequest")
          };

          wss.onmessage = (evt) => {
            var msg = evt.data
            var obj = JSON.parse(msg);
            if (obj.botStatus !== undefined) {
              if (obj.botStatus === true)
                this.botStatus = "Stop Bot"
              else
                this.botStatus = "Start Bot"
            } else {
              this.tokenA = obj.tokenA;
              this.tokenB = obj.tokenB;
              this.pair = obj.pair;

              this.fullData.push({
                tokenA: this.tokenA
                , tokenB: this.tokenB
                , pair: this.pair
              })
            }

          };

          wss.onclose = () => {
            console.log('winsocket closed')
            this.wss = null;
            this.botStatus = "Start Bot"
          };
        } else {
          console.log("WebSocket NOT supported by your Browser!");
        }
      }
    })


  </script>
  <style>
    .short-input {
      width: 10%;
      margin: 7px;
    }
  </style>
</body>

</html>